BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInContainerLiterals: true
AlignTrailingComments: true
CommentPragmas: Keep
SortIncludes: true
IncludeBlocks: Preserve
SortUsingDeclarations: true
Cpp11BracedListStyle: true
DerivePointerAlignment: false
PointerAlignment: Left
MaxEmptyLinesToKeep: 1
